* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.stack {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

/* triangles */

.tr {
  width: 100px;
  height: 40px;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid green;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.tr:nth-child(2) {
  width: 120px;
  height: 40px;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 100px solid green;
  margin-top: -40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.tr:nth-child(3) {
  width: 140px;
  height: 40px;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 100px solid green;
  margin-top: -40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.tr:nth-child(4) {
  width: 160px;
  height: 40px;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-bottom: 100px solid green;
  margin-top: -40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* traingles */

/* leg */

.leg {
  height: 50px;
  width: 20px;
  background-color: rgb(255, 114, 32);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

/* leg */

/* ball */

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset -2px -2px 5px black;
  position: absolute;
  background-color: rgb(255, 30, 1);
}

.ball:nth-child(1) {
  top: 75px;
  left: 75px;
}
.ball:nth-child(2) {
  top: 93px;
  left: 150px;
}
.ball:nth-child(3) {
  top: 75px;
  right: 75px;
}
.ball:nth-child(4) {
  top: 135px;
  right: 55px;
}
.ball:nth-child(5) {
  top: 135px;
  left: 55px;
}
.ball:nth-child(6) {
  top: 153px;
  left: 150px;
}
.ball:nth-child(7) {
  top: 195px;
  left: 45px;
}
.ball:nth-child(8) {
  top: 195px;
  right: 45px;
}
.ball:nth-child(9) {
  top: 213px;
  left: 150px;
}
.ball:nth-child(10) {
  top: 255px;
  left: 25px;
}
.ball:nth-child(11) {
  top: 255px;
  right: 25px;
}
.ball:nth-child(12) {
  top: 273px;
  left: 150px;
}

/* ball */

/* canvas */
canvas{
    position: absolute;
}

/* text */
.text{
    font-size: 34px;
    color: rgb(51, 255, 0);
    animation: gena 2s ease-in-out infinite alternate;
    z-index: 10;
    text-shadow: 1px 1px 1px black;
}

@keyframes gena {
  0%{
    position: absolute;
    left: 20px;
  }

  100%{
    position: absolute;
    left: 200px;
  }
}